*
!.gitignore
!CHANGELOG.md
!/src/
!/src/**
!/fonts/
!/fonts/**
!/tests/
!/tests/**
!/AGENTS.md
!/worldmap.drawio
!/tools/
!/tools/addons/
!/tools/addons/**
!/tools/assets
!/tools/assets/**
!/doc/
!/doc/**
!bitmask_and_autotile.md
TODO.md