*
!.gitignore
!CHANGELOG.md
!/src/
!/src/**
!/fonts/
!/fonts/**
!/tools/
!/tools/**
/tools/__pycache__/
/tools/venv/
!/tests/
!/tests/**
!/AGENTS.md
!/worldmap.drawio
!/temp/
!/temp/**
!/doc/
!/doc/**
!bitmask_and_autotile.md